---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Become a beta tester">
  <main>
    <section class="bg-white dark:bg-gray-900">
      <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
        <h2
          class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
        >
          Become a beta tester
        </h2>
        <p
          class="mb-4 font-light text-gray-500 dark:text-gray-400 sm:text-xl"
        >
          Sign up to be the first to test new features and help shape the
          future of Giveback Guide.
        </p>
        <p class="mb-4 font-light">
          We're working on some exciting new features that we're keen to test out with a select group of our users before we roll them out to everyone.
        </p>
        <p class="mb-4 font-light">
          As a beta tester, you'll get early access to these features and the opportunity to provide feedback that will help us improve them. If you're interested in being part of this exclusive group, please sign up using the form below.
        </p>
        <p class="mb-8 font-light">
          As a beta tester, you're not obligated to use the new features or provide feedback, but we would greatly appreciate any insights you can share with us.
        <iframe
          data-tally-src="https://tally.so/embed/mKbMBk?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1"
          loading="lazy"
          width="100%"
          height="346"
          frameborder="0"
          marginheight="0"
          marginwidth="0"
          title="Beta Subscribers"></iframe>
        <script is:inline>
          var d = document,
            w = "https://tally.so/widgets/embed.js",
            v = function () {
              "undefined" != typeof Tally
                ? Tally.loadEmbeds()
                : d
                    .querySelectorAll("iframe[data-tally-src]:not([src])")
                    .forEach(function (e) {
                      e.src = e.dataset.tallySrc;
                    });
            };
          if ("undefined" != typeof Tally) v();
          else if (d.querySelector('script[src="' + w + '"]') == null) {
            var s = d.createElement("script");
            (s.src = w), (s.onload = v), (s.onerror = v), d.body.appendChild(s);
          }
        </script>
        <script>
          // Re-initialize Tally forms after View Transitions
          document.addEventListener("astro:page-load", () => {
            if (typeof window !== "undefined" && "Tally" in window) {
              (window as any).Tally.loadEmbeds();
            }
          });
        </script>
      </div>
    </section>
  </main>
</MainLayout>
