---
/**
 * Skimlinks Script Component
 * 
 * Loads the Skimlinks affiliate tracking script on pages where
 * booking platform or affiliate links are present.
 * 
 * This component should be placed near the end of a page layout,
 * just before the closing </body> or </MainLayout> tag.
 * 
 * Usage:
 *   <SkimlinksScript />
 */
---

<script
  is:inline
  type="text/javascript"
  src="https://s.skimresources.com/js/85974X1773969.skimlinks.js"
/>
